.categories-page {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
}

.category-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.category-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--primary-color-alpha);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}